# Node.js related
node_modules/
npm-debug.log
yarn-error.log

# Svelte & build output
public/build/
public/global.css

# IDEs and text editors
.idea/
*.sublime*
.vscode/
*.swp
*.swo

# OS related
.DS_Store
Thumbs.db

# Optional - Environment variables
.env
.env.*
.env.local

# Optional - Debug logs
*.log